<h1>To delete a bookmark type in it's name</h2>
<form action="/links/to_delete" method="post">
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
    <input type="submit" value="Delete Bookmark">
</form>
