<h1>Fill in this form to add a new bookmark</h1>
<form action="/links" method="post">
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <label for="url">
    URL
    <input type="text" name="url">
  </label>
  <label for="tag">
    Tags
    <input type="text" name="tag">
  </label>
    <input type="submit" value="Create Bookmark">
</form>
